<!-- views/pages/data.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <%= data %>
                </div>
                
            </div>
        </div>
    </main>

    <footer>
    </footer>
    
</body>
</html>