<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron col-sm-12">
        <h1>Results:</h1>
            <div class="row">
                <div class="">
                    
                    <table border="1">
   <tr height="40">
      <% for (var j = 0; j < headers.length; j++) { %>
      <th><%= headers[j].name %></th>
      <% } %>
   </tr>

   <% for (var i = 0; i < data.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
    <tr>
      <% for (var j = 0; j < data[i].length; j++) { %>
      <td><%= data[i][j] %></td>
      <% } %>
    </tr>    
   <% } %>
</table>
                    
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
