<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <input type="text" name="oracleQuery" class="form-control" id="oracleQuery1" placeholder= "select count (*) as total from TWEET" >

                    <input type="submit" value="Submit">
                </div>
                
            </div>
        </div>
    </main>

    <footer>
    </footer>
    
</body>
</html>