<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <main>
        <div class="row">
            <div class="col-sm-12">
                    <h1>Query:</h1>
                    <form method="post" action="/submit">
                    <input type="text" name="query" size="75" class="form-control" value= "select count (*) as total from TWEET" >

                    <input type="submit" value="submit">
                    </form>
                
            </div>
        </div>
    </main>

    <footer>
    </footer>
    
</body>
</html>